body {
    min-height: 2000px;
    background-image: url(../Img/Fondo.jpeg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/*textos generales*/

/*Colores fondos general*/

/*Cabecera*/


/*menu lateral*/


/*Fin menu lateral*/

/*parte central*/

/*fin parte central*/